.tableWrapper {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar {
  border-radius: 0px !important;
}
.infoWrapper {
  max-height: 570px;
  overflow: auto;
  background-color: rgba(238, 238, 238, 0.8);
}
.form-group {
  margin-bottom: 5px !important;
}
.custom-combobox {
  position: relative;
  display: inline-block;
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}
.custom-combobox-input {
  margin: 0;
  padding: 5px 10px;
  background-color: #fff;
}
#sightingParent {
  padding-left: 33px;
  border-bottom:rgba(47, 53, 60, 75) solid 1px;
  margin-bottom: 5px;
}

body {
  background-image: url("https://www.silhcdn.com/3/i/shapes/lg/3/2/d185623.jpg");
  background-repeat: repeat-y repeat-x;
}
#background {
  background-color: rgba(255, 255, 255, 0.75) !important;
}
h1 {
  margin-left: 15px;
}