<!-- <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div> -->
<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss('cancel')" data-dismiss="modal">&times;</button>
    <h1 class="text-center">Welcome to SSWC!</h1>
</div>
<div class="modal-body">
    <form name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="off">
        <fieldset>
            <div class="form-group" show-errors>
                <uib-alert type="danger" ng-show="error" class="text-center text-danger">
                    <span ng-bind="error"></span>
                </uib-alert>
                <div class="row">
                    <div class="col-sm-8" style="border-right: 1px solid #333;">
                        <div class="form-group row" style="margin-top:15px">
                            <label for="usernameOrEmail" class="col-sm-4 col-form-label text-right">Username</label>
                            <div class="col-sm-8">
                                <input type="text" id="usernameOrEmail" name="usernameOrEmail" class="form-control"
                                    ng-model="loginData.NAME" placeholder="Enter your username" required autofocus>
                                <div ng-messages="userForm.usernameOrEmail.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required"><span style="text-align: center">Username
                                            is required.</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" show-errors>
                            <label for="inputPassword" class="col-sm-4 col-form-label text-right">Password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="inputPassword" ng-model="loginData.PASSWORD"
                                    placeholder="Enter your password" required>
                                <div ng-messages="userForm.password.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required">Password is
                                        required.</p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-8">
                                <label>
                                    <input type="checkbox" checked="checked" name="remember"> Remember me
                                </label>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" style="margin-top:47px">
                            <div id="col-center">
                                <button type="submit" id="loginBtn" ng-click="login()" class="btn btn-primary btn-lg">Login</button>
                            </div>
                            <p id="col-center" style="margin-top:5px">
                                <a ui-sref="signup" ng-click="$dismiss('cancel')">Sign up</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div ng-if="inputError" class="text-center alert alert-warning" role="alert">
                    <p class="help-block error-text">Wrong username/password!</p>
                </div>
                <div ng-if="formError" class="text-center alert alert-warning" role="alert">
                    <p class="help-block error-text">Missing fields!</p>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss('cancel')" data-dismiss="modal">Close</button>
</div>